<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Google Books Project</title>
  <link rel="stylesheet" href="base.css">
  <link href="https://fonts.googleapis.com/css?family=Work+Sans:400,700" rel="stylesheet">
</head>

<body>
  <form action="/searches" method="post">
    <h2>Search Books By Title or Author</h2>
    <input name="searchField" type="text" value="" id="book-search" placeholder="Search by Author or Title">
    <label for="author-radio">Author</label><input name="searchType" type="radio" value="Author" id="author-radio">
    <label for="title-radio">Title</label><input name="searchType" type="radio" value="Title" id="title-radio">
    <input type="submit">
  </form>
</body>

</html>