body {
  text-align: center;
  font-family: 'Work Sans', sans-serif;
  font-size: 16px;
  background-color: #F6F9FC;
}

header {
  background-color: #97FBD1;
  height: 40px;
  color: #fff;

}

input {
  box-sizing: border-box;
}
