* {
  margin: 0;
  padding: 0;
}

body {
  text-align: center;
  font-family: 'Work Sans', sans-serif;
  font-size: 16px;
  background-color: #F6F9FC;
}

header {
  background-color: #97FBD1;
  height: 80px;
  color: #fff;
}

.title {
  margin: 30px 0;
  font-size: 4rem;
  color: #1CC6FF;
}

img {
  height: auto;
  width: 120px;
}

a {
  height: 30px;
  width: 200px;
  background: #97fbd1;
  color: #fff;
  text-decoration: none;
  padding: 20px !important;
  border-radius: 3px;
  /* margin: 30px 0 !important; */
}

form {
  margin-top: 30px;
}

ul {

  margin: 0 auto;
  list-style: none;
}

input {
  box-sizing: border-box;
}

p {
  /* width: 100px; */
  font-size: .8rem;
  margin: 0;
  padding: 0;
}

footer {
  position:fixed;
  left:0px;
  bottom:0px;
  height:40px;
  width:100%;
  background-color: #97FBD1;
}

footer p {
  margin-top: 20px
}
