/* =================================
SAVED BOOKS
================================= */

.saved-books-count {
  display: block;
  margin: 0 auto;
  font-size: 1.2rem;
  margin-top: 20px;
}

.saved-books-form {
  background-color: #D9E9FA;
  width: 300px;
  height: 450px;
  padding: 20px 15px;
  border-radius: 3px;
  text-align: left;
}

.saved-books-form img {
  display: block;
  margin: 15px auto;
}

.book h3 {
  text-align: center;
  font-size: 1.4rem;
  margin-bottom: 15px;
  font-weight: bold;
}

.book h6 {
  text-align: center;
}

.book .description {
  display: block;
  margin: 10px auto;
  width: 200px;
}

.label-p {
  font-weight: bold;
  display: inline;
}

/* =================================
SEARCH RESULTS
================================= */

.book-results-list {
  background-color: #D9E9FA;
  width: 300px;
  height: 450px;
  margin: 0 5px;
  padding: 20px 15px;
  border-radius: 3px;
  text-align: left;
  margin-bottom: 30px;
  /* overflow: hidden; */
  list-style: none;
}

.book-results-list img {
  display: block;
  margin: 0 auto;
}

.save-book {
  /* height: 20px;
  width: 100px;
  padding: 15px; */
}

/* =================================
SEARCH FORM
================================= */

header h5 {
  position: relative;
  top: 40%;
  font-size: 1.1rem;
  /* color: #1CC6FF; */
}

input[type="text"] {
  color: #1CC6FF;
  width: 250px;
  height: 50px;
  display: block;
  margin: 0 auto 20px;
  border: 1px solid #ccc;
  border-radius: 3px;
  padding: 5px 10px;
  box-shadow: 0 4px 6px rgba(50,50,93,.11), 0 1px 3px rgba(0,0,0,.08);
}

input[type="radio"] {
  background-color: #fff;
  /* margin-top: 10px; */
}

form .radio-input {
  width: 100px;
  height: 30px;
  color: #1CC6FF;
  display: inline-block;
  margin: 0 10px;
  padding: 15px 5px 5px 5px;
  border-radius: 3px;
  background-color: #fff;
  box-shadow: 0 4px 6px rgba(50,50,93,.11), 0 1px 3px rgba(0,0,0,.08);
  cursor: pointer;
}

label {
  margin-right: 10px;
}

input[type="submit"] {
  display: block;
  margin: 20px auto 0 auto;
  width: 250px;
  height: 50px;
  padding: 5px 10px;
  box-shadow: 0 4px 6px rgba(50,50,93,.11), 0 1px 3px rgba(0,0,0,.08);
  background-color: #fff;
  border-radius: 3px;
  font-size: .7rem;
  font-weight: bold;
  color: #1CC6FF;
  cursor: pointer;
}
