input[type="text"]:focus {
  outline-style: none;
  border: 2px solid #1CC6FF;
}

form .radio-input:focus {
  border: 2px solid #1CC6FF;
}

/* SHOW DETAILS */

 /* .show-toggle {
  display: none;
} */

.more-details-list {
  display: none;
  margin: 20px 0;
}

label[for="checkbox"] {
  margin-top: 15px;
  display: block;
  /* padding: 5px 11px; */
  /* background-color: #ff7; */
  /* border: 1px solid;
  border-radius: 3px; */
}

input[type="checkbox"] {
  display: block;
  margin: 8px auto;
  background: #ccc;
}

input[type="checkbox"]:checked + .more-details-list {
  display: block
}
