<!-- views/layout/bookComponent.ejs -->

<form action='/' method="POST">
  <input
    name="title"
    type="text"
    value='<%= book.title %>'
  />
  <input
    name="image_url"
    type="text"
    value='<%= book.image_url %>'
  />
  <input
    name="author"
    type="text"
    value='<%= book.author %>'
  />
  <input
    name="description"
    type="text"
    value='<%= book.description' %>
  />
  <input type="submit" value="UPDATE" />
</form>
