<!-- views/layout/updateForm.ejs -->
<section class="update-book-form">
  <form action='/save' method="POST">
    <input name="title" type="text" value='<%= book.title %>' />
    <input name="image_url" type="text" value='<%= book.image_url %>' />
    <input name="author" type="text" value='<%= book.author %>' />
    <input name="description" type="text" value='<%= book.description %>' />
    <input name="bookshelf" type="text" placeholder="Save book to bookshelf" value="" />
    <input class="save-book" value="SAVE BOOK" type="submit" />
  </form>
</section>

